@model MovieApp.Models.Movie

@{
    ViewBag.Title = "EditMovies";
}

<h2>Edit Movie - @Model.Name</h2>

@using (Html.BeginForm("EditMovie", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
<div class="form-group">
    @Html.LabelFor(m => m.ImageURL)
    @Html.TextBoxFor(m => m.ImageURL, new { @class = "form-control" })
</div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rating)
        @Html.TextBoxFor(m => m.Rating, new { @class = "form-control", type = "number" })
    </div>
    
    <button type="submit" class="btn btn-primary">Edit</button>
}

